In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
df.head(2)

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48

In [3]:
df.shape

(1016395, 7)

In [4]:
df.dtypes

Unnamed: 0     int64
Id             int64
Name          object
Year           int64
Gender        object
State         object
Count          int64
dtype: object

**Questions**

See the first 10 entries.

Delete the columns ‘Unnamed: 0’ and ‘Id’.

Group the dataset by name, assign to a variable called names, and sort the dataset by highest to lowest count.

How many different names exist in the dataset?

What is the name with most occurrences?

What is the standard deviation of count of names?

Get a summary of the dataset with the mean, min, max, std and quartiles.

**See the first 10 entries.**

In [5]:
df.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

**Delete the columns ‘Unnamed: 0’ and ‘Id’.**

In [9]:
df.drop(['Unnamed: 0','Id'],axis=1,inplace=True)
df.head(2)

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48

**Group the dataset by name, assign to a variable called names, and sort the dataset by highest to lowest count.**

In [38]:
names=df.groupby('Name').count()

In [39]:
names.sort_values(by=['Count'],ascending=[False])

         Year  Gender  State  Count
Name
Riley    1112    1112   1112   1112
Avery    1080    1080   1080   1080
Jordan   1073    1073   1073   1073
Peyton   1064    1064   1064   1064
Hayden   1049    1049   1049   1049
...       ...     ...    ...    ...
Ethon       1       1      1      1
Malajah     1       1      1      1
Euan        1       1      1      1
Azyria      1       1      1      1
Nissen      1       1      1      1

[17632 rows x 4 columns]

**How many different names exist in the dataset?**

In [21]:
df['Name'].nunique()

17632

**What is the name with most occurrences?**     
**Jacob**

In [32]:
names=df.groupby('Name').sum()
names.sort_values(by=['Count'],ascending=[False])

<ipython-input-32-ac26229464ee>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  names=df.groupby('Name').sum()

               Year   Count
Name
Jacob       1141099  242874
Emma        1137085  214852
Michael     1161152  214405
Ethan       1139091  209277
Isabella    1137090  204798
...             ...     ...
Eniola         2012       5
Atlantis       2005       5
Marci          2004       5
Simarpreet     2011       5
Nita           2007       5

[17632 rows x 2 columns]

In [24]:
names['Count'].max()

242874

**What is the standard deviation of count of names?**

In [30]:
df['Count'].unique()

array([  62,   48,   46, ..., 1540, 1231, 1087])

In [29]:
names=df.groupby('Name').std()
names.iloc[:,1:]

<ipython-input-29-83fba83fee41>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  names=df.groupby('Name').std()

             Count
Name
Aaban     0.000000
Aadan     0.957427
Aadarsh        NaN
Aaden    21.154974
Aadhav         NaN
...            ...
Zyra      1.154701
Zyrah     0.707107
Zyren          NaN
Zyria     0.737865
Zyriah    1.666667

[17632 rows x 1 columns]

**Get a summary of the dataset with the mean, min, max, std and quartiles.**

In [34]:
df.describe()

               Year         Count
count  1.016395e+06  1.016395e+06
mean   2.009053e+03  3.485012e+01
std    3.138293e+00  9.739735e+01
min    2.004000e+03  5.000000e+00
25%    2.006000e+03  7.000000e+00
50%    2.009000e+03  1.100000e+01
75%    2.012000e+03  2.600000e+01
max    2.014000e+03  4.167000e+03